<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interview.defront.mapper.PersonalQuestionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.interview.defront.domain.DefrontPersonalQuestion">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="quetion" jdbcType="VARCHAR" property="quetion" />
		<result column="my_answer" jdbcType="VARCHAR" property="myAnswer" />
		<result column="is_open" jdbcType="TINYINT" property="isOpen" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="weight" jdbcType="INTEGER" property="weight" />
	</resultMap>
	
	<select id="queryByParam" resultType="com.interview.defront.domain.DefrontPersonalQuestion">
		select * from defront_personal_question where user_id = #{userId}
		<if test="question != null and question.trim() != ''">
			and question like concat('%',#{question},'%')
		</if>
		order by weight desc
	</select>

</mapper>
